[defaults]
host_key_checking = False
inventory = inventory/infrahub_inv.yml
interpreter_python = auto_silent
collections_path = /opt/semaphore/collections:/usr/share/ansible/collections

[galaxy]
cache_dir = /tmp/ansible-galaxy-cache